.bg-primary {
    background-color: #ffffff !important;
}
.section {
    background-color: #EEEEEE !important;
}
.mapa{
    float: left;
}
.grafico {
    float: right;
}
div#map {
    width: 200px !important;
}
.container {
    width: 1400px !important;
}
.container-fluid {

  }
div.mapa {
  margin-top: 2%;
}
div.container {
  margin-top: -6%;
  margin-bottom: -4%;
}

/*[title]{
	position:relative;
}
[title]:after{
	content:attr(title);
	color:#fff;
	background:#333;
	background:rgba(51,51,51,0.75);
	padding:5px;
	position:absolute;
	left:-9999px;
	opacity:0;
	bottom:100%;
	white-space:nowrap;
	-webkit-transition:0.25s linear opacity;
}
[title]:hover:after{
	left:5px;
	opacity:1;
}*/

[data-tooltip] {
  position: relative;
  font-weight: bold;
}

[data-tooltip]:after {
  -webkit-box-shadow: 0px 0px 43px -8px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 43px -8px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 43px -8px rgba(0,0,0,0.5);
  text-align: center;
  margin: 0 auto;
  display: none;
  position: absolute;
  top: -10px;
  padding: 10px;
  border-radius: 3px;
  left: calc(70%);
  content: attr(data-tooltip);
  white-space: nowrap;
  background-color: #063035;
  color: White;
  width: 170%;
}
[data-tooltip]:hover:after {
      display: block;
}
