
<div id="log"></div>
<script type="text/javascript">
    var dadosRA = sessionStorage.getItem("dadosRA");
    var dadosDF = sessionStorage.getItem("dadosDF");

     var radialLimites=sessionStorage.getItem("radial");


// console.log ("radial : "+radialLimites);
// console.log (radialLimites);


    //function init() {

        document.write("<br>/* codigo gerado dinamicamente */");
        document.write('<br> var dadosRA = ');
        document.write(dadosRA);
        document.write(';<br><br>');

        document.write("<br>/* codigo gerado dinamicamente */");
        document.write('<br> var dadosDF = ');
        document.write(dadosDF);
        document.write(';<br><br>');

        document.write("<br><br>/* codigo gerado dinamicamente */");
        document.write('<br> var radialLimites = ');
        document.write(radialLimites);
        document.write(';<br><br>');

  //  }
</script>
